<div class="header">
	<h2 id="title">Welcome to FiresideTalk</h2>
	{{#link-to 'about'}}About{{/link-to}}
	{{#link-to 'messages'}}Messages{{/link-to}}
</div>

<div class="chat-body">
	{{outlet}}
</div>
